/.vs/Taxometr/DesignTimeBuild/.dtbcache.v2
/.vs/Taxometr/FileContentIndex/15253a09-fb5d-4988-b7d1-a37d2b43d6f5.vsidx
/.vs/Taxometr/FileContentIndex/200b4e68-41c9-4290-b9aa-7d791a8f4013.vsidx
/.vs/Taxometr/FileContentIndex/423af760-c4db-4270-a21f-622cf8129192.vsidx
/.vs/Taxometr/FileContentIndex/753129c9-4522-480e-ad28-3384aec43e75.vsidx
/.vs/Taxometr/FileContentIndex/7b0fb31e-6e55-4dba-9e4f-f6978dbd1872.vsidx
/.vs/Taxometr/FileContentIndex/7ead1d24-8710-448c-a3f0-96df624e4055.vsidx
/.vs/Taxometr/FileContentIndex/81598d04-af70-4ec2-b52b-40e3588183d8.vsidx
/.vs/Taxometr/FileContentIndex/84cc82b1-5b10-4c83-9883-2360be05ca19.vsidx
/.vs/Taxometr/FileContentIndex/a434fc76-24b7-4f9d-9ce5-c4b0db50182c.vsidx
/.vs/Taxometr/FileContentIndex/e1a106fb-8f04-4919-8c17-3634ef4e819e.vsidx
/Taxometr/Taxometr.Android/obj/Debug/130/designtime/build.props
/Taxometr/Taxometr.Android/obj/Debug/130/DesignTimeResolveAssemblyReferencesInput.cache
/Taxometr/Taxometr.Android/obj/Debug/130/libraryprojectimports.cache
/Taxometr/Taxometr.Android/obj/Debug/130/Taxometr.Android.csproj.AssemblyReference.cache
/Taxometr/Taxometr.Android/obj/project.assets.json
/Taxometr/Taxometr.Android/obj/project.nuget.cache
/Taxometr/Taxometr.Android/obj/Taxometr.Android.csproj.nuget.dgspec.json
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.AssemblyInfo.cs
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.AssemblyInfoInputs.cache
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.assets.cache
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.GeneratedMSBuildEditorConfig.editorconfig
/Taxometr/Taxometr/obj/project.assets.json
/Taxometr/Taxometr/obj/project.nuget.cache
/Taxometr/Taxometr/obj/Taxometr.csproj.nuget.dgspec.json
/.vs/Taxometr/DesignTimeBuild/.dtbcache.v2
/.vs/Taxometr/FileContentIndex/200b4e68-41c9-4290-b9aa-7d791a8f4013.vsidx
/.vs/Taxometr/FileContentIndex/423af760-c4db-4270-a21f-622cf8129192.vsidx
/.vs/Taxometr/FileContentIndex/81598d04-af70-4ec2-b52b-40e3588183d8.vsidx
/.vs/Taxometr/FileContentIndex/a434fc76-24b7-4f9d-9ce5-c4b0db50182c.vsidx
/.vs/Taxometr/FileContentIndex/e1a106fb-8f04-4919-8c17-3634ef4e819e.vsidx
/Taxometr/Taxometr.Android/obj/Debug/130/designtime/build.props
/Taxometr/Taxometr.Android/obj/Debug/130/DesignTimeResolveAssemblyReferencesInput.cache
/Taxometr/Taxometr.Android/obj/Debug/130/libraryprojectimports.cache
/Taxometr/Taxometr.Android/obj/Debug/130/Taxometr.Android.csproj.AssemblyReference.cache
/Taxometr/Taxometr.Android/obj/project.assets.json
/Taxometr/Taxometr.Android/obj/project.nuget.cache
/Taxometr/Taxometr.Android/obj/Taxometr.Android.csproj.nuget.dgspec.json
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.AssemblyInfo.cs
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.AssemblyInfoInputs.cache
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.assets.cache
/Taxometr/Taxometr/obj/Debug/netstandard2.0/Taxometr.GeneratedMSBuildEditorConfig.editorconfig
/Taxometr/Taxometr/obj/project.assets.json
/Taxometr/Taxometr/obj/project.nuget.cache
/Taxometr/Taxometr/obj/Taxometr.csproj.nuget.dgspec.json
