/TaxometrMauiMvvm/.vs/ProjectEvaluation/taxometrmauimvvm.metadata.v9.bin
/TaxometrMauiMvvm/.vs/ProjectEvaluation/taxometrmauimvvm.projects.v9.bin
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/DesignTimeBuild/.dtbcache.v2
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/FileContentIndex/1f995e8d-9ed5-49e0-8903-9ea615089383.vsidx
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/FileContentIndex/63e35a39-8669-438a-bd98-b4626398aaef.vsidx
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/v17/.suo
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/v17/DocumentLayout.backup.json
/TaxometrMauiMvvm/.vs/TaxometrMauiMvvm/v17/DocumentLayout.json
/TaxometrMauiMvvm/obj/Release/net9.0-android35.0/TaxometrMauiMvvm.AssemblyInfo.cs
/TaxometrMauiMvvm/obj/Release/net9.0-android35.0/TaxometrMauiMvvm.AssemblyInfoInputs.cache
/TaxometrMauiMvvm/TaxometrMauiMvvm.csproj.user
